body {
    background-color: aqua;
font-family: 'popins', sans-serif;
}

.container {
    width: 360px;
    padding: 33px;
    text-align: center;
    background: linear-gradient( green, green, red, #ff0000);
    margin-left: 33%;
    margin-top: 5px;
    box-shadow: 5px 5px 50px 50px rgba(rgb(229, 1, 1),green, red, red);

    animation: animateBg 3s linear infinite;
}

@keyframes animateBg {
    100% {
        filter: hue-rotate(360deg);
    }
}
input {
    width: 270px;
    padding: 8px;
    border: 2px solid rgb(255, 0, 0);
    outline: none;
    font-size: 19px;
}

button {
    width: 60px;
    height: 41px;
    background-color: rgb(2, 29, 29);
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 2px;
    font-size: 19px;
    cursor: pointer;
}
.text ul{
    padding:relative;
    background-color: rgb(5, 59, 6);
    color: #fff;
    font-size: 19px;
    padding: 7px;
    text-align: left;

}
text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}